@import url(../assets/font/font.css);

:root {
    --black: #090707;
    --red: #DB4C44;
    --secundary-red: #FF5A5F;
    --white: #FFFFFF;
    --gray: #e5e5e50f;
}

* {
    font-family: 'Poppins';
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

p {
    font-weight: 200;
}

strong {
    font-weight: 250;
}

main {
    max-width: 100vw;
    max-height: 200vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10vh;
}

body {
    background-image: url("../assets/fondo.jpg");
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
}

body,
html {
    padding: 0;
    margin: 0 auto;

    max-width: 100vw;
    height: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style: none;
}

input[type="date"] {
    background-color: transparent;
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--gray);
    padding: 8px 12px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease, font-size 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="date"]:focus {
    outline: none;
    border-bottom: 1px solid var(--red);
    font-size: 105%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: var(--red);
    color: var(--white);
    border-radius: 50%;
    padding: 5px;
}


input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"] {
    background-color: transparent;
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--gray);
    padding: 8px 12px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease, font-size 0.3s ease;
}

select option {
    background-color: var(--black);
    color: var(--white);
}



input[type="number"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="url"]:focus {
    outline: none;
    border-bottom: 1px solid var(--red);
    font-size: 105%;
}


select {
    background-color: transparent;
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--gray);
    padding: 8px 12px;
    margin: 8px 0;
    width: 100%;
    transition: border-color 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px 18px;
}

select:focus {
    outline: none;
    border-bottom: 1px solid var(--red);
    font-size: 105%;
}

button {
    cursor: pointer;
    border: none;
}

dialog {
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 90vw;
    box-shadow: 0px 0px 10px 0px var(--red);
}

@keyframes backgroundChange {
    0% {
        box-shadow: 0px 0px 10px var(--black);
    }

    50% {
        box-shadow: 0px 0px 10px var(--red);
    }

    100% {
        box-shadow: 0px 0px 10px var(--black);
    }
}