---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import '../styles/gesEjercicios.css'
---

<Layout>
    <main id="main-ges-ejercicios">
        <button id="button-insertar-ejercicio">INSERTAR EJERCICIO</button>

        <dialog id="dialog-ges-ejercicio"></dialog>
        <div id="div-ejercicios">
            
        </div>
    </main>
</Layout>

<style>

</style>

<script type="module" src="/src/js/scriptGesEjercicios.js"></script>
