---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

import "/src/styles/home.css";
---

<Layout>
    <Hero />
    <main>
        <section class="contenedor-rutina">
            <h1>Tus Rutinas Personalizadas</h1>
            <div id="info-usuario"></div>
            <button id="btn-crear-rutina">Crea una rutina</button>
            <div id="div-rutinas"></div>
        </section>

        <section id="rutinas-comunidad">
            <h2>🔥 Top 3 Rutinas en tendencia de la comunidad 🔥<span class="icono-tendencia"></span>
            </h2>
            <div id="div-rutinas-comunidad">
                
            </div>
        </section>

        <!-- Diálogo para crear rutina -->
        <dialog id="dialog-crear-rutina" class="dialog-crear-rutina">
            <form
                method="dialog"
                id="form-crear-rutina"
                class="dialog-crear-rutina"
            >
                <h2>Crea una rutina</h2>
                <label for="nombre-rutina">Nombre de la rutina:</label>
                <input type="text" id="nombre-rutina" required />
                <label>Selecciona los días de la semana:</label>
                <div id="checkbox-dias" class="checkbox-dias">
                    <label class="labelDiaSemana">
                        <input
                            type="checkbox"
                            value="Lunes"
                            class="inputDiaSemana"
                        /> Lunes
                    </label>
                    <label class="labelDiaSemana">
                        <input
                            type="checkbox"
                            value="Martes"
                            class="inputDiaSemana"
                        /> Martes
                    </label>
                    <label class="labelDiaSemana">
                        <input
                            type="checkbox"
                            value="Miércoles"
                            class="inputDiaSemana"
                        /> Miércoles
                    </label>
                    <label class="labelDiaSemana">
                        <input
                            type="checkbox"
                            value="Jueves"
                            class="inputDiaSemana"
                        /> Jueves
                    </label>
                    <label class="labelDiaSemana">
                        <input
                            type="checkbox"
                            value="Viernes"
                            class="inputDiaSemana"
                        /> Viernes
                    </label>
                    <label class="labelDiaSemana">
                        <input
                            type="checkbox"
                            value="Sábado"
                            class="inputDiaSemana"
                        /> Sábado
                    </label>
                    <label class="labelDiaSemana">
                        <input
                            type="checkbox"
                            value="Domingo"
                            class="inputDiaSemana"
                        /> Domingo
                    </label>
                </div>

                <button type="submit" id="btn-crear-rutina-confirmar"
                    >Crear Rutina</button
                >
            </form>
            <button id="btn-cerrar-dialogo">Cerrar</button>
        </dialog>
    </main>
</Layout>
<style></style>
<script type="module" src="/src/js/home.js"></script>
<script type="module" src="/src/js/rutinas.js"></script>
