---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/gesEjercicios.css";
---

<Layout>
  <main id="main-vista-rutina">
    <section class="contenedor-rutina">
      <h1>Tus Rutinas Personalizadas</h1>
      <div id="info-usuario"></div>
      <button id="btn-crear-rutina">Crea una rutina</button>
      <div id="div-rutinas"></div>
    </section>

    <!-- Diálogo para crear rutina -->
    <dialog id="dialog-crear-rutina" class="dialog-crear-rutina">
      <form method="dialog" id="form-crear-rutina" class="dialog-crear-rutina">
        <h2>Crea una rutina</h2>
        <label for="nombre-rutina">Nombre de la rutina:</label>
        <input type="text" id="nombre-rutina" required />
        <label>Selecciona los días de la semana:</label>
        <div id="checkbox-dias" class="checkbox-dias">
          <label class="labelDiaSemana">
            <input type="checkbox" value="Lunes" class="inputDiaSemana" /> Lunes
          </label>
          <label class="labelDiaSemana">
            <input type="checkbox" value="Martes" class="inputDiaSemana" /> Martes
          </label>
          <label class="labelDiaSemana">
            <input type="checkbox" value="Miércoles" class="inputDiaSemana" /> Miércoles
          </label>
          <label class="labelDiaSemana">
            <input type="checkbox" value="Jueves" class="inputDiaSemana" /> Jueves
          </label>
          <label class="labelDiaSemana">
            <input type="checkbox" value="Viernes" class="inputDiaSemana" /> Viernes
          </label>
          <label class="labelDiaSemana">
            <input type="checkbox" value="Sábado" class="inputDiaSemana" /> Sábado
          </label>
          <label class="labelDiaSemana">
            <input type="checkbox" value="Domingo" class="inputDiaSemana" /> Domingo
          </label>
        </div>

        <button type="submit" id="btn-crear-rutina-confirmar"
          >Crear Rutina</button
        >
      </form>
      <button id="btn-cerrar-dialogo">Cerrar</button>
    </dialog>
  </main>

  <script type="module" src="/src/js/rutinas.js"></script>
  <style>
    #div-rutinas {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
      padding: 1rem;
      margin-top: 1rem;
      overflow-y:scroll;
      max-height: 100vh;
      margin-bottom: 50vh;
    }
    .rutina {
      background-color: red;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 2vh; /* Altura fija */
      max-height: 2vh; /* Altura fija */
      line-height: 2rem; /* Alineación del texto dentro de la altura */
    }
    .checkbox-dias {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .labelDiaSemana {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 0.5rem;
      padding: 0.6rem;
      border-radius: 8px;
      background-color: #333;
      color: white;
      cursor: pointer;
      transition:
        background-color 0.3s,
        color 0.3s;
    }

    .labelDiaSemana.activo {
      background-color: var(--red);
      color: white;
    }

    .inputDiaSemana {
      accent-color: var(--red);
    }

    #main-vista-rutina {
      padding: 2rem;
      background-color: var(--background);
      color: var(--white);
    }

    .contenedor-rutina {
      display: flex;
      flex-direction: column;
      align-items: left;
      max-width: 80vw;
      text-align: center;
      margin: 1vw;
      overflow-wrap:break-word;

    }

    .info-usuario {
      background: var(--gray);
      padding: 1rem;
      border-radius: 10px;
      margin-bottom: 2rem;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .dia-rutina {
      background: var(--gray-light);
      padding: 1rem;
      margin-bottom: 2rem;
      border-radius: 10px;
      border-left: 5px solid var(--red);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .dia-rutina h2 {
      color: var(--red);
    }

    #dialog-crear-rutina {
      padding: 1rem;
      background-color: var(--black);
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    .dialog-crear-rutina > * {
      margin: 1rem 0; /* Márgenes verticales de 1rem */
    }

    button {
      padding: 0.5rem 1rem;
      background-color: var(--red);
      color: white;
      border: none;
      border-radius: 5px;
    }

    select,
    input[type="text"] {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 5px;
    }
  </style>
</Layout>
