---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import '../styles/gesEjercicios.css'
---

<Layout>
    <main id="main-rutinaIA">
        
    </main>
</Layout>

<style>

</style>

<script type="module" src="/src/js/scriptRutinaIA.js"></script>
