---
import Layout from "../layouts/Layout.astro";

const users = ["Juan", "María", "Pedro", "Ana", "Luis"]; // Lista de usuarios
---

<Layout>
    <main>
        <h1>Buscar Usuarios</h1>
        <input id="searchInput" type="text" placeholder="Buscar..." />
        <div id="userList">
            <p>Aqui saldrán los usuarios al buscar</p>
        </div>
    </main>
</Layout>
<script>
    
</script>
<style></style>
