---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <section id="amigos">
            <h2>Mis Amigos</h2>
            <ul class="user-list"></ul>
        </section>
        <h2>Buscar Usuarios</h2>
        <input
            id="searchInput"
            type="text"
            placeholder="Escribe el nombre de usuario..."
        />
        <div id="user-list"></div>
    </main>
    <script type="module" src="/src/js/usuarios.js"></script>
</Layout>
<style>
    .user-link {
        text-decoration: none;
        font-weight: bold;
    }
    .user-list {
        text-decoration: none;
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1vw;
    }

    .user-list li {
        border: 2px solid var(--black);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #181212;

        cursor: pointer;
    }

    .user-list li:hover {
        background: #2d0909;
        border-color: #b71c1c;
        box-shadow: 0 2px 12px 0 rgba(183, 28, 28, 0.15);
    }

    .user-list li:hover .user-info {
        color: #ff5252;
    }

    .user-list li:hover .user-avatar {
        border: 2px solid #b71c1c;
    }

    .user-item > li {
        list-style: none;
    }

    .user-avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 10px;
        border: 2px solid transparent;
        transition: border 0.2s;
    }

    #amigos {
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>
