---
import Layout from "../layouts/Layout.astro";

const users = ["Juan", "María", "Pedro", "Ana", "Luis"]; // Lista de usuarios
---

<Layout>
    <main>
        <h1>Buscar Usuarios</h1>
        <input id="searchInput" type="text" placeholder="Escribe el nombre de usuario..." />
        <div id="user-list">
           
        </div>
    </main>
    <script type="module" src="/src/js/usuarios.js"></script>
</Layout>
<style>

</style>

