---
export interface Props {
    id: string;
    nombre: string;
    imagen: string;
    descripcion: string;
    video: string;
}

const { id, nombre, imagen, descripcion, video } = Astro.props;

---

<div class="div-table-row">
    <div>{nombre}</div>
    <div class="imagen-ejercicio">
        <img src="{imagen}" alt="Imagen Ejercicio" />
    </div>
    <div><a href="{video}">Video</a></div>
    <div class="musculo"></div>
</div>

<style>
    .table-div {
        font-family: "Poppins";
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Definir 4 columnas iguales */
        grid-template-rows: auto 1fr; /* La primera fila es para la cabecera, la segunda es para las filas de la tabla */
        max-width: 100vw;
        min-width: 90vw;
        max-height: 100vh;
        background-color: var(--red);
        text-align: center; /* Espacio entre las celdas */
    }

    .div-table-head {
        display: contents; /* Usar display: contents para que los divs hijos se comporten como elementos de grid */
        padding: 10px;
        text-align: center;
    }

    .div-table-head > div {
        padding: 10px;
        font-weight: bold;
        background-color: white;
    }

    .div-table-body {
        display: contents; /* Los divs hijos (filas) se comportan como elementos de grid */
    }

    .div-table-row {
        display: contents; /* Los divs hijos (columnas) se comportan como elementos de grid */
        padding: 10px;
    }

    .div-table-row > div {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 0.2s;
    }
    .div-table-row:hover > div {
        transform: scale(1.1);
        transition: 0.5s;
    }

    .div-table-row:hover > div {
        transition: 0.5s;
        background-color: white;
    }

    .div-table-row:hover ~ .table-div {
        height: 110%;
        transition: 0.2s;
    }

    .musculo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }

    .imagen-ejercicio img {
        max-width: 100%; /* La imagen se ajusta al tamaño del contenedor */
        height: auto; /* Mantiene la relación de aspecto */
        object-fit: contain; /* Asegura que la imagen se adapte bien */
        border-radius: 8px; /* Opcional: bordes redondeados */
    }
</style>
<script>
    import {gsap } from "gsap";
</script>